#Window {
    background-color: #FFFFFF;
    color: #171717;
}

#SideBar {
    background-color: #FFFFFF;
    color: #171717;
}

#SearchBar QLineEdit {
    padding: 0 8px;
    height: 30px;
    min-width: 130px;

    font-size: 13px;
    font-weight: 500;

    background-color: #F5F4F2;
    color: #171717;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#SearchBar QPushButton {
    padding: 0;
    height: 30px;
    width: 32px;

    font-size: 22px;
    font-weight: 400;
    font-family: "Material Symbols Outlined";

    background-color: #F5F4F2;
    color: #171717;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#SearchBar QPushButton:hover {
    background-color: #4B4B31;
    color: #F5F4F2;
}
#SearchBar QPushButton:pressed {
   background-color: #3D3D27;
    color: #F5F4F2;
}

#SavedLocations QPushButton {
    padding: 0 8px;
    height: 50px;
    min-width: 80px;

    font-size: 13px;
    font-weight: 500;
    text-align: left;

    background-color: #FFFFFF;
    color: #171717;
    border: none;
    border-radius: 3px;
}
#SavedLocations QPushButton:hover {
    background-color: #F5F4F2;
}
#SavedLocations QPushButton:pressed {
    background-color: #F5F4F2;
}

#WeatherDisplay {
    border: none;
    background-color: #F5F4F2;
    color: #171717;
}
#WeatherDisplayContainer {
    background-color: #F5F4F2;
}
QScrollBar:vertical {
    width: 6px;

    background-color: #F5F4F2;
    border: none;
    border-radius: 0px;
}
QScrollBar::handle:vertical {
    min-height: 6px;

    background-color: #4B4B31;
    border-radius: 3px;
}
QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
}
QScrollBar::add-line:vertical {
    height: 0px;
    width: 0px;
}
QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    height: 0px;
    width: 0px;
}
QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    height: 0px;
    width: 0px;
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    width: 0px;
    height: 0px;
}

#Overview {
    background-color: transparent;
}

#Overview #Town {
    font-size: 24px;
}

#Overview #Temperature {
    font-size: 36px;
    font-weight: 700;
}

#Hourly {
    background-color: #FFFFFF;
    color: #171717;
    border-radius: 3px;
}
