#Window {
    background-color: #FFFFFF;
    color: #171717;
}

#SideBar {
    background-color: #FFFFFF;
    color: #171717;
    border-right: 1px solid #EEEEEE;
}

#SearchBar > QLineEdit {
    padding: 0 8px;
    height: 30px;
    min-width: 130px;

    font-size: 13px;
    font-weight: 500;

    background-color: #FFFFFF;
    color: #171717;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#SearchBar > QPushButton {
    padding: 0;
    height: 30px;
    width: 32px;

    font-size: 22px;
    font-weight: 400;
    font-family: "Material Symbols Outlined";

    background-color: #4B4B31;
    color: #F5F4F2;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#SearchBar > QPushButton:hover {
    background-color: #42422D;
}
#SearchBar > QPushButton:pressed {
   background-color: #383827;
}

#SavedLocations {
    border: none;
    background-color: transparent;
}

#SavedLocations QPushButton {
    padding: 0 8px;
    height: 50px;
    min-width: 80px;

    font-size: 13px;
    font-weight: 500;
    text-align: left;

    background-color: #FFFFFF;
    color: #171717;
    border: none;
    border-radius: 4px;
}
#SavedLocations QPushButton:hover {
    background-color: #F5F4F2;
}
#SavedLocations QPushButton:pressed {
    background-color: #F5F4F2;
}

#WeatherDisplay {
    border: none;
    background-color: #F5F4F2;
    color: #171717;
}
#WeatherDisplayContainer {
    background-color: transparent;
}
QScrollBar:vertical {
    width: 6px;

    background-color: transparent;
    border: none;
    border-radius: 0px;
}
QScrollBar::handle:vertical {
    min-height: 6px;

    background-color: #4B4B31;
    border-radius: 3px;
}
QScrollBar::sub-line:vertical,
QScrollBar::add-line:vertical,
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    width: 0px;
    height: 0px;
}

#Overview {
    background-color: transparent;
}

#Overview #Town {
    font-size: 24px;
}

#Overview #Temperature {
    font-size: 36px;
    font-weight: 700;
}

#HourlyGraph QChartView {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

#HourlyGraph QChart {
    background-color: #FFFFFF;
}

#HourlyGraph QLineSeries {
    background-color: #FFFFFF;
}

#Humidity {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

#HumidityIcon {
    font-size: 22px;
    font-weight: 400;
    font-family: "Material Symbols Outlined";
}

#HumidityLabel {
    font-size: 16px;
    font-weight: 400;
}

#HumidityMeasurement {
    font-size: 22px;
    font-weight: 800;
}

#Wind {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

#WindIcon {
    font-size: 22px;
    font-weight: 400;
    font-family: "Material Symbols Outlined";
}

#WindLabel {
    font-size: 16px;
    font-weight: 400;
}

#WindMeasurement {
    font-size: 22px;
    font-weight: 800;
}
